In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from itertools import compress

## Load the datasets and review

In [2]:
miami_2014 = pd.read_csv('data/miami_dade_acs5-2014_census.csv')
miami_2014 = miami_2014.set_index("index")

miami_2019 = pd.read_csv('data/miami_dade_acs5-2019_census.csv')
miami_2019 = miami_2019.set_index("index")

data_dic = pd.read_csv('data/acs5_variable_dict_2014_2019.csv')

In [3]:
data_dic

,variable_code,label,concept,predicateType,group,limit,predicateOnly,acs_year
0,DP02_0019EA,Annotation of Estimate!!RELATIONSHIP!!Populati...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
1,DP02_0126E,Estimate!!ANCESTRY!!Total population!!Danish,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
2,DP02_0072EA,Annotation of Estimate!!DISABILITY STATUS OF T...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
3,DP02_0069PMA,Annotation of Percent Margin of Error!!VETERAN...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
4,DP02_0126M,Margin of Error!!ANCESTRY!!Total population!!D...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
5,DP02_0057PMA,Annotation of Percent Margin of Error!!SCHOOL ...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
6,DP02_0125M,Margin of Error!!ANCESTRY!!Total population!!C...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
7,DP02_0054PM,Percent Margin of Error!!SCHOOL ENROLLMENT!!Po...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,float,DP02,0,True,2014
8,DP02_0041MA,Annotation of Margin of Error!!FERTILITY!!Numb...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
9,DP02_0070PMA,Annotation of Percent Margin of Error!!DISABIL...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
10,DP02_0125E,Estimate!!ANCESTRY!!Total population!!Czech,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
11,DP02_0054PE,Percent!!SCHOOL ENROLLMENT!!Population 3 years...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,float,DP02,0,True,2014
12,DP02_0108MA,Annotation of Margin of Error!!WORLD REGION OF...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
13,DP02_0124M,Margin of Error!!ANCESTRY!!Total population!!Arab,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
14,DP02_0124E,Estimate!!ANCESTRY!!Total population!!Arab,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
15,DP02_0098MA,Annotation of Margin of Error!!YEAR OF ENTRY!!...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
16,DP02_0082PMA,Annotation of Percent Margin of Error!!RESIDEN...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
17,DP02_0006EA,Annotation of Estimate!!HOUSEHOLDS BY TYPE!!To...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
18,DP02_0139EA,Annotation of Estimate!!ANCESTRY!!Total popula...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
19,DP02_0045PMA,Annotation of Percent Margin of Error!!GRANDPA...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
20,DP02_0123M,Margin of Error!!ANCESTRY!!Total population!!A...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
21,DP02_0123E,Estimate!!ANCESTRY!!Total population!!American,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
22,DP02_0122M,Margin of Error!!ANCESTRY!!Total population,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
23,DP02_0082PEA,Annotation of Percent!!RESIDENCE 1 YEAR AGO!!P...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
24,DP02_0122E,Estimate!!ANCESTRY!!Total population,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
25,DP02_0143PE,Percent!!ANCESTRY!!Total population!!Slovak,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,float,DP02,0,True,2014
26,DP02_0130MA,Annotation of Margin of Error!!ANCESTRY!!Total...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
27,DP02_0143PM,Percent Margin of Error!!ANCESTRY!!Total popul...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,float,DP02,0,True,2014
28,DP02_0121M,Margin of Error!!LANGUAGE SPOKEN AT HOME!!Popu...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
29,DP02_0085EA,Annotation of Estimate!!RESIDENCE 1 YEAR AGO!!...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
...,...,...,...,...,...,...,...,...
8234,DP05_0054MA,Annotation of Margin of Error!!RACE!!Total pop...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8235,DP05_0053M,Margin of Error!!RACE!!Total population!!One r...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,int,DP05,0,True,2019
8236,DP05_0055M,Margin of Error!!RACE!!Total population!!One r...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,int,DP05,0,True,2019
8237,DP05_0055E,Estimate!!RACE!!Total population!!One race!!Na...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,int,DP05,0,True,2019
8238,DP05_0022PEA,Annotation of Percent!!SEX AND AGE!!Total popu...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8239,DP05_0010PM,Percent Margin of Error!!SEX AND AGE!!Total po...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,True,2019
8240,DP05_0085EA,Annotation of Estimate!!HISPANIC OR LATINO AND...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8241,DP05_0010PE,Percent!!SEX AND AGE!!Total population!!25 to ...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,True,2019
8242,DP05_0054M,Margin of Error!!RACE!!Total population!!One r...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,int,DP05,0,True,2019
8243,DP05_0041MA,Annotation of Margin of Error!!RACE!!Total pop...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8244,DP05_0025PMA,Annotation of Percent Margin of Error!!SEX AND...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8245,DP05_0019EA,Annotation of Estimate!!SEX AND AGE!!Total pop...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8246,DP05_0072EA,Annotation of Estimate!!HISPANIC OR LATINO AND...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8247,DP05_0074PEA,Annotation of Percent!!HISPANIC OR LATINO AND ...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8248,DP05_0050E,Estimate!!RACE!!Total population!!One race!!As...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,int,DP05,0,True,2019
8249,DP05_0062PEA,Annotation of Percent!!RACE!!Total population!...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8250,DP05_0051E,Estimate!!RACE!!Total population!!One race!!As...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,int,DP05,0,True,2019
8251,DP05_0009PEA,Annotation of Percent!!SEX AND AGE!!Total popu...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8252,DP05_0054PM,Percent Margin of Error!!RACE!!Total populatio...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,True,2019
8253,DP05_0037PMA,Annotation of Percent Margin of Error!!RACE!!T...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8254,DP05_0054PE,Percent!!RACE!!Total population!!One race!!Nat...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,True,2019
8255,DP05_0050M,Margin of Error!!RACE!!Total population!!One r...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,int,DP05,0,True,2019
8256,DP05_0085MA,Annotation of Margin of Error!!HISPANIC OR LAT...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8257,DP05_0050PMA,Annotation of Percent Margin of Error!!RACE!!T...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8258,DP05_0041PM,Percent Margin of Error!!RACE!!Total populatio...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,True,2019
8259,DP05_0041PE,Percent!!RACE!!Total population!!One race!!Ame...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,True,2019
8260,DP05_0049PMA,Annotation of Percent Margin of Error!!RACE!!T...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8261,DP05_0006EA,Annotation of Estimate!!SEX AND AGE!!Total pop...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8262,DP05_0062PMA,Annotation of Percent Margin of Error!!RACE!!T...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8263,DP05_0086PEA,Annotation of Percent!!Total housing units,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019

In [4]:
miami_2014

,DP02_0001E,DP02_0001PE,DP02_0002E,DP02_0002PE,DP02_0003E,DP02_0003PE,DP02_0004E,DP02_0004PE,DP02_0005E,DP02_0005PE,...,B25087_027E,B25087_028E,B25087_029E,B25088_001E,B25088_002E,B25088_003E,B25092_001E,B25092_002E,B25092_003E,GEOID
index,,,,,,,,,,,,,,,,,,,,,
"Census Tract 1.07, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000107",1255,1255,611,48.7,171,13.6,468,37.3,142,11.3,...,0,0,284,1624,2547,1001,24.2,24.5,22.3,12086000107
"Census Tract 1.18, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000118",506,506,332,65.6,90,17.8,229,45.3,27,5.3,...,0,11,219,2185,3388,1001,46.5,50.0,26.3,12086000118
"Census Tract 1.19, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000119",2206,2206,1192,54.0,498,22.6,894,40.5,249,11.3,...,45,73,552,1146,1672,828,26.3,38.7,16.0,12086000119
"Census Tract 1.21, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000121",780,780,487,62.4,100,12.8,401,51.4,70,9.0,...,0,0,421,1906,4001,1001,36.0,25.8,41.5,12086000121
"Census Tract 1.20, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000120",1855,1855,998,53.8,475,25.6,789,42.5,403,21.7,...,40,41,280,1696,1953,1001,28.2,33.8,13.1,12086000120
"Census Tract 1.23, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000123",2177,2177,1061,48.7,248,11.4,845,38.8,185,8.5,...,167,164,321,999,2246,624,34.3,50.0,26.5,12086000123
"Census Tract 1.24, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000124",1065,1065,545,51.2,180,16.9,240,22.5,67,6.3,...,8,15,0,1094,1255,446,46.0,49.8,25.2,12086000124
"Census Tract 1.25, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000125",1861,1861,969,52.1,270,14.5,573,30.8,134,7.2,...,45,97,414,898,1713,751,31.5,45.2,26.6,12086000125
"Census Tract 1.26, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000126",1282,1282,592,46.2,229,17.9,560,43.7,206,16.1,...,89,35,269,823,1238,676,40.8,50.0,39.5,12086000126
"Census Tract 1.22, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000122",1944,1944,939,48.3,205,10.5,606,31.2,138,7.1,...,19,87,748,1503,2404,1001,29.8,29.3,32.4,12086000122
"Census Tract 1.27, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000127",1703,1703,969,56.9,437,25.7,719,42.2,289,17.0,...,52,47,167,1477,1734,657,34.7,38.3,22.8,12086000127
"Census Tract 1.31, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000131",936,936,573,61.2,196,20.9,479,51.2,187,20.0,...,15,7,145,2087,2100,1001,33.9,36.4,26.6,12086000131
"Census Tract 1.32, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000132",3032,3032,1101,36.3,349,11.5,896,29.6,227,7.5,...,198,119,305,868,1513,557,33.5,40.3,26.5,12086000132
"Census Tract 1.34, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000134",1475,1475,560,38.0,192,13.0,344,23.3,113,7.7,...,75,38,110,1111,1477,593,32.5,46.1,25.7,12086000134
"Census Tract 1.40, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000140",1608,1608,665,41.4,296,18.4,418,26.0,169,10.5,...,21,0,13,1091,1206,472,25.4,27.6,13.9,12086000140
"Census Tract 2.11, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000211",1030,1030,711,69.0,314,30.5,521,50.6,221,21.5,...,44,33,14,1059,1752,387,25.8,32.7,15.0,12086000211
"Census Tract 2.12, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000212",1534,1534,929,60.6,499,32.5,348,22.7,139,9.1,...,0,0,14,1084,1207,410,27.7,30.3,14.5,12086000212
"Census Tract 2.13, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000213",1430,1430,1066,74.5,430,30.1,779,54.5,312,21.8,...,34,43,55,1225,1629,474,22.8,32.7,10.0,12086000213
"Census Tract 2.14, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000214",2175,2175,1241,57.1,465,21.4,747,34.3,309,14.2,...,73,68,0,908,1401,428,24.1,34.9,13.3,12086000214
"Census Tract 1.28, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000128",871,871,334,38.3,146,16.8,297,34.1,125,14.4,...,46,18,74,1231,1390,574,24.0,28.0,16.3,12086000128
"Census Tract 1.30, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000130",1426,1426,829,58.1,169,11.9,726,50.9,121,8.5,...,13,12,646,1644,2415,1001,26.7,36.2,24.0,12086000130
"Census Tract 1.29, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000129",1010,1010,781,77.3,57,5.6,760,75.2,57,5.6,...,31,0,562,2632,4001,1001,22.3,34.2,20.5,12086000129
"Census Tract 52.02, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:005202",1740,1740,1126,64.7,526,30.2,608,34.9,305,17.5,...,12,0,0,964,1060,385,28.6,27.5,36.2,12086005202
"Census Tract 57.04, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:005704",2887,2887,1911,66.2,785,27.2,1071,37.1,361,12.5,...,38,62,2,919,1789,425,32.1,41.2,25.7,12086005704
"Census Tract 59.02, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:005902",1249,1249,943,75.5,340,27.2,605,48.4,161,12.9,...,83,53,59,761,1586,502,26.1,35.0,21.4,12086005902
"Census Tract 59.04, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:005904",1425,1425,980,68.8,295,20.7,691,48.5,233,16.4,...,52,58,55,863,1861,441,25.9,34.5,16.1,12086005904
"Census Tract 79.02, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:007902",1197,1197,793,66.2,361,30.2,690,57.6,313,26.1,...,20,18,252,2748,3642,1001,20.2,22.5,15.8,12086007902
"Census Tract 80, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:008000",2151,2151,1447,67.3,660,30.7,1333,62.0,567,26.4,...,5,15,873,2907,4001,1001,21.9,26.6,15.2,12086008000
"Census Tract 1.09, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000109",1698,1698,637,37.5,360,21.2,269,15.8,117,6.9,...,9,0,9,555,861,333,23.4,33.9,11.9,12086000109
"Census Tract 79.01, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:007901",1275,1275,920,72.2,405,31.8,839,65.8,347,27.2,...,24,7,307,2758,3630,1001,22.6,26.3,14.6,12086007901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Census Tract 184, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:018400",1255,1255,853,68.0,389,31.0,552,44.0,266,21.2,...,19,0,24,1432,1591,488,27.0,29.3,20.0,12086018400
"Census Tract 185, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:018500",1540,1540,1099,71.4,522,33.9,643,41.8,396,25.7,...,43,0,56,1757,1858,574,26.9,30.3,14.0,12086018500
"Census Tract 186, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:018600",2521,2521,1970,78.1,659,26.1,1513,60.0,528,20.9,...,56,90,0,1620,1793,446,30.1,31.5,10.0,12086018600
"Census Tract 187, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:018700",1270,1270,1174,92.4,461,36.3,972,76.5,333,26.2,...,12,49,173,1656,1904,733,24.6,29.1,10.0,12086018700
"Census Tract 188, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:018800",2718,2718,1924,70.8,884,32.5,1497,55.1,669,24.6,...,83,112,60,1601,1799,599,23.3,30.6,11.7,12086018800
"Census Tract 189, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:018900",2205,2205,1576,71.5,667,30.2,1159,52.6,492,22.3,...,56,99,173,1696,2070,652,29.1,32.7,12.0,12086018900
"Census Tract 190, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:019000",1912,1912,1425,74.5,694,36.3,1007,52.7,482,25.2,...,103,52,140,1595,1804,606,25.7,29.8,15.8,12086019000
"Census Tract 191, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:019100",1912,1912,1178,61.6,417,21.8,843,44.1,302,15.8,...,146,72,121,1027,1720,556,24.4,29.2,20.1,12086019100
"Census Tract 192, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:019200",1723,1723,1448,84.0,738,42.8,1008,58.5,560,32.5,...,13,17,54,1421,1556,459,23.7,26.4,10.5,12086019200
"Census Tract 193, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:019300",2545,2545,1870,73.5,991,38.9,1144,45.0,613,24.1,...,18,48,68,1524,1584,660,28.9,30.5,12.9,12086019300
"Census Tract 194, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:019400",2438,2438,2100,86.1,1286,52.7,1736,71.2,1072,44.0,...,15,69,120,2101,2183,699,26.9,27.6,14.2,12086019400
"Census Tract 195, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:019500",2240,2240,1654,73.8,988,44.1,1075,48.0,707,31.6,...,34,55,87,1691,1798,623,30.1,32.1,11.4,12086019500
"Census Tract 196, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:019600",1526,1526,1277,83.7,725,47.5,1086,71.2,624,40.9,...,22,0,106,2290,2356,922,25.1,26.5,12.8,12086019600
"Census Tract 77.01, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:007701",1969,1969,1618,82.2,603,30.6,1296,65.8,511,26.0,...,22,80,262,1244,1707,637,25.0,31.9,17.3,12086007701
"Census Tract 85.02, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:008502",1522,1522,1151,75.6,486,31.9,973,63.9,433,28.4,...,58,120,286,1755,2340,743,19.6,21.4,15.6,12086008502
"Census Tract 90.19, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:009019",1180,1180,987,83.6,264,22.4,641,54.3,187,15.8,...,0,68,67,1180,1893,437,25.0,39.9,17.3,12086009019
"Census Tract 95.01, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:009501",1719,1719,1226,71.3,480,27.9,573,33.3,170,9.9,...,0,11,39,1257,1398,369,32.7,38.3,14.8,12086009501
"Census Tract 100.05, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:010005",2012,2012,1713,85.1,636,31.6,941,46.8,379,18.8,...,53,22,97,1340,1625,374,36.3,44.7,11.6,12086010005
"Census Tract 102.04, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:010204",1867,1867,1563,83.7,677,36.3,1104,59.1,539,28.9,...,28,50,24,1460,1713,454,29.2,33.0,11.8,12086010204
"Census Tract 103, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:010300",2488,2488,1847,74.2,694,27.9,1292,51.9,439,17.6,...,46,46,338,1237,2119,561,27.8,34.6,15.4,12086010300
"Census Tract 107.03, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:010703",3114,3114,2630,84.5,1322,42.5,1598,51.3,827,26.6,...,63,51,15,1334,1478,384,29.6,32.9,10.0,12086010703
"Census Tract 110.03, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:011003",1125,1125,891,79.2,448,39.8,379,33.7,189,16.8,...,15,16,14,994,1199,363,33.4,42.3,21.3,12086011003
"Census Tract 113, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:011300",2473,2473,1533,62.0,714,28.9,573,23.2,242,9.8,...,0,6,38,760,1061,301,19.3,23.3,11.2,12086011300
"Census Tract 93.07, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:009307",2063,2063,1455,70.5,599,29.0,856,41.5,327,15.9,...,48,0,8,1383,1646,486,46.9,50.0,20.1,12086009307
"Census Tract 90.10, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:009010",1495,1495,1221,81.7,795,53.2,1018,68.1,670,44.8,...,0,29,260,1677,2223,839,19.4,24.0,12.5,12086009010
"Census Tract 93.09, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:009309",2092,2092,1721,82.3,662,31.6,1249,59.7,552,26.4,...,12,16,13,879,1182,319,27.9,30.8,12.2,12086009309
"Census Tract 93.11, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:009311",1731,1731,1384,80.0,452,26.1,900,52.0,331,19.1,...,82,50,47,1404,1774,477,29.4,36.7,14.0,12086009311
"Census Tract 99.04, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:009904",964,964,719,74.6,397,41.2,200,20.7,80,8.3,...,13,0,15,1315,1419,397,30.5,34.3,10.0,12086009904
"Census Tract 102.01, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:010201",1118,1118,903,80.8,400,35.8,725,64.8,301,26.9,...,28,57,56,1813,1998,662,28.0,30.1,13.7,12086010201
"Census Tract 107.04, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:010704",2705,2705,2103,77.7,1294,47.8,1182,43.7,701,25.9,...,22,24,76,1355,1434,479,31.8,33.8,13.8,12086010704

In [5]:
len(miami_2014)

519

In [6]:
len(miami_2019)

519

## Find matching and unique columns between both datasets

In [7]:
# Identify all missmatched columns
mismatched_columns = list(set(miami_2014.columns).symmetric_difference(set(miami_2019.columns)))
len(mismatched_columns)

64

In [8]:
# Identify all matching columns
matched_columns = list(set(miami_2014.columns) & set(miami_2019.columns))
len(matched_columns)

1551

## Statistical testing between datasets

In [9]:
# Perform student's t test
t_check=stats.ttest_rel(miami_2019[matched_columns], miami_2014[matched_columns])
t_check
alpha=0.05

statistically_similar = list(compress(matched_columns, (t_check.pvalue > alpha)))
statistically_different = list(compress(matched_columns, (t_check.pvalue <= alpha)))

c:\anaconda3\envs\py36\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
c:\anaconda3\envs\py36\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
c:\anaconda3\envs\py36\lib\site-packages\scipy\stats\_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
c:\anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in greater

c:\anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in less_equal
  import sys

In [10]:
print("Statistically Similar Columns: {}".format(len(statistically_similar)))
print("Statistically Different Columns: {}".format(len(statistically_different)))

Statistically Similar Columns: 634
Statistically Different Columns: 883

In [11]:
correlations = pd.DataFrame(columns = ['Variable', 'Correlation', 'PValue'])

for variable in matched_columns:
    # Using spearman as most columns do not appear to follow normal distribution
    corr = stats.spearmanr(miami_2014[variable], miami_2019[variable], axis=0)
    correlations = correlations.append({
        'Variable': variable,
        'Correlation': 0 if np.isnan(corr.correlation) else corr.correlation,
        'PValue': 0 if np.isnan(corr.pvalue) else corr.pvalue,
        'NullHypothesisRejected': True if corr.pvalue <= 0.05 else False
    }, ignore_index = True)
    
correlations.sort_values(by='Correlation', ascending=False, inplace=True)

correlations

c:\anaconda3\envs\py36\lib\site-packages\numpy\lib\function_base.py:2534: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
c:\anaconda3\envs\py36\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
c:\anaconda3\envs\py36\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
c:\anaconda3\envs\py36\lib\site-packages\scipy\stats\_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
c:\anaconda3\envs\py36\lib\site-packages\numpy\lib\function_base.py:2535: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

            Variable  Correlation    PValue  NullHypothesisRejected
987   S2502_C03_009E     0.153788  0.000438                     1.0
819      DP05_0037PE     0.152968  0.000470                     1.0
374   S2502_C02_009E     0.151320  0.000542                     1.0
918   S2502_C01_009E     0.146300  0.000829                     1.0
1307      DP04_0052E     0.143578  0.001038                     1.0
...              ...          ...       ...                     ...
1065      DP02_0081E    -0.144040  0.000999                     1.0
894      DP05_0038PE    -0.146523  0.000814                     1.0
293      DP03_0028PE    -0.148531  0.000688                     1.0
1138     DP04_0025PE    -0.151906  0.000516                     1.0
1358     DP02_0081PE    -0.154980  0.000395                     1.0

[1551 rows x 4 columns]

## Reviewing difference between same variable code in both datasets

In [12]:
data_dic[data_dic.variable_code == "DP04_0005E"]

,variable_code,label,concept,predicateType,group,limit,predicateOnly,acs_year
2938,DP04_0005E,Estimate!!HOUSING OCCUPANCY!!Rental vacancy rate,SELECTED HOUSING CHARACTERISTICS,float,DP04,0,True,2014
7043,DP04_0005E,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,SELECTED HOUSING CHARACTERISTICS,float,DP04,0,True,2019

In [13]:
miami_2014["DP04_0037E"].describe()

count     519.000000
mean     1916.369942
std       867.580485
min         0.000000
25%      1395.000000
50%      1841.000000
75%      2302.000000
max      6800.000000
Name: DP04_0037E, dtype: float64

In [14]:
miami_2019["DP04_0037E"].describe()

count    5.190000e+02
mean    -1.669878e+07
std      1.042815e+08
min     -6.666667e+08
25%      3.900000e+00
50%      4.600000e+00
75%      5.400000e+00
max      1.000000e+01
Name: DP04_0037E, dtype: float64

## Calculate percentage of change from 2014 to 2019

In [15]:
percentage_diff = (
    (miami_2019[matched_columns] - miami_2014[matched_columns]) 
    / miami_2014[matched_columns]) * 100

# Replace infinite values with nan
percentage_diff.replace([np.inf, -np.inf], np.nan, inplace=True)

# Export results to CSV
percentage_diff.to_csv('out/percentage_differnces_miami.csv')

In [16]:
percentage_diff["DP04_0005E"].describe()

count     384.000000
mean        1.248603
std       236.034105
min      -100.000015
25%       -86.382897
50%       -42.543860
75%        11.612319
max      3262.500000
Name: DP04_0005E, dtype: float64

In [17]:
percentage_diff["DP04_0005E"].argmax()

c:\anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

'Census Tract 67.11, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:006711'

In [18]:
# Calculate zscores for all variable percentage means
zscores = stats.zscore(list(percentage_diff.mean(axis=0, skipna=True)), nan_policy='omit')

In [19]:
# Identify outliers using zscores
list(compress(matched_columns, (np.abs(zscores) > 3)))

c:\anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in greater

['DP05_0004PE', 'DP04_0125PE', 'DP04_0109PE', 'DP04_0135PE']

In [20]:
percentage_diff["DP04_0005E"].plot(kind="box", figsize=(10,20))

In [21]:
percentage_diff.describe()

,DP03_0070PE,B25063_002E,DP04_0020PE,DP03_0031E,DP02_0062E,DP04_0013PE,B25074_035E,B25074_059E,B25074_026E,S2506_C01_048E,...,DP03_0064E,DP03_0105PE,DP04_0027E,DP04_0030PE,DP05_0024E,DP05_0073E,DP05_0060PE,S2504_C03_032E,DP03_0092PE,S1701_C01_043E
count,502.000000,508.000000,504.000000,501.000000,508.000000,441.000000,296.000000,57.000000,341.000000,35.000000,...,508.000000,519.000000,363.000000,516.000000,509.000000,460.000000,509.000000,92.000000,519.0,505.000000
mean,31.805902,33.346406,103.970838,76.120141,100.686256,20.092168,39.030743,53.190265,-0.928807,2814.609774,...,16.783957,26.364692,6999.267326,-16.933977,-58.502646,371.429267,-93.187819,972.962430,0.0,1164.675287
std,141.981367,279.078882,835.304476,277.573458,133.920196,134.767462,205.728549,270.943894,134.055129,4719.608077,...,187.263062,26.799273,8702.484074,70.246875,25.770135,1380.297772,30.568223,1974.398468,0.0,1680.995003
min,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000015,-100.000000,-100.000000,-100.000000,-100.000000,...,-100.000000,-23.172628,163.461538,-100.000015,-100.000000,-100.000000,-100.000000,-100.000000,-0.0,-41.493268
25%,-32.056604,-4.820598,-65.214580,-9.697933,14.934169,-15.686275,-100.000000,-100.000000,-100.000000,-100.000000,...,-3.945612,7.183257,1646.511848,-61.634615,-68.961303,-85.167778,-100.000000,-100.000000,-0.0,399.196787
50%,3.740672,13.786316,-23.294574,23.000000,68.361674,0.823045,-28.919355,-66.666667,-38.636364,66.666667,...,5.088602,20.411392,3914.285714,-31.563701,-61.055578,-26.713648,-100.000000,161.278195,-0.0,887.500000
75%,45.371397,35.583024,41.748768,82.183908,159.984956,23.456790,88.398693,88.888889,32.558140,5300.000000,...,16.877826,37.265536,9126.190476,3.664027,-51.428571,193.593544,-100.000000,1237.316176,-0.0,1397.354497
max,1700.000000,6185.714286,12366.666667,4700.000000,1227.956989,2012.500000,1650.000000,1500.000000,616.666667,15500.000000,...,4200.000000,153.453453,93200.000000,461.956522,425.581395,18200.000000,400.000000,11284.615385,-0.0,28200.000000

## To be continued pending completion of data dictionary cleanup